body {
    font-family: 'Irish Grover', sans-serif;
    font-size: 28px;
    background: url("../images/Login/loginBackground.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input,
select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
}

button {
    padding: 10px;
    width: 100%;
    background: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3498db;
}

a {
    color: #2980b9;
    text-decoration: none;
}

#message {
    margin-top: 10px;
    color: red;
}

#back-to-main {
    position: fixed;
    top: 70px;
    left: 115px;
    z-index: 1000;
}

#back-to-main img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

#back-to-main img:hover {
    opacity: 1;
}

.message-space {
    height: 30px;
    /* sta?a wysoko??, niezale?na od tekstu */
    margin-top: 10px;
    overflow: hidden;
}


.login-message {
    font-size: 16px;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: opacity 1s ease;
    color: red;
    /* lub dynamicznie w JS */
    height: 100%;
}

.login-message.visible {
    opacity: 1;
}


.switcher {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.switcher button {
    padding: 8px 16px;
    border: none;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.switcher button:hover {
    background: #34495e;
}