body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background: url("../images/planksBackground.png") no-repeat center center;
    background-size: cover;
}

header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#faq-container {
  padding: 20px;
}

.faq-item {
    background: url("../images/postBackground.png") no-repeat center center;
    background-size: 100% 80%;
    margin: 5px 0;
    padding: 60px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.faq-item h3 {
  margin: 0;
}

#admin-panel {
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#faq-form input, #faq-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.hidden {
  display: none;
}

.faq-item button.edit-btn {
    margin-top: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .faq-item button.edit-btn:hover {
        background-color: #2980b9;
    }
